
@{
    ViewBag.Title = "Listas";
}

<h1>Listas</h1><br />
<h1>Internet</h1><br />
<h2 >Contenido</h2>
<ol>
    <li>Principales protocolos</li>
    <li>Formas de conectarse</li>
</ol>
<ol>
    <li>
        <h2>Principales Protocolos</h2><br />
        <p>
            <ul>
                <li type="disc">Transmisión de ficheros:
                    <ul><li type="circle">FTP</li></ul>
                </li>
                <li type="disc">Correo electrónico:
                    <ul>
                        <li type="circle">IMAP</li>
                        <li type="circle">POP</li>
                        <li type="circle">SMTP</li>
                    </ul>
                </li>
            </ul>
        </p>
    </li>
    <li>
        <h2>Formas de conectarse</h2><br />
        <p>
            <dl>
                <dt>Red Telefónica Conmutada (RTC)</dt>
                <dd>La línea telefónica de toda la vida. Para acceder a Internet es necesario un módem.</dd>
                <dt>Red Digital de Servicios Integrados (RDSI)</dt>
                <dd>Una línea telefónica especial. Para acceder a Internet es necesario un módem RDSI.</dd>
                <dt>Línea de Abonado Digital Asimétrica (ADSL)</dt>
                <dd>Se basa en la conversión de una línea RTC en una línea de alta velocidad. Para acceder a Internet es necesario un módem ADSL.</dd>
                <dt>Fibra Óptica</dt>
                <dd>Una línea de fibra óptica. Normalmente la fibra óptica no llega hasta el usuario final, por lo que el término más apropiado es Fibra híbrida coaxial.</dd>
            </dl>
        </p>
    </li>
</ol>