
@{
    ViewBag.Title = "Acerca de...";
}

<h1>Lenguajes de Programación para la Administración</h1>
<div id="siteHeader">
    <ul>
        <li><span>Materia:</span> Lenguajes de Programación para la Administración</li>
        <li><span>Alumno:</span> Damian Contreras</li>
        <li><span>Sede:</span> Castelar</li>
    </ul>
</div>

